header {
  font-size: 1em;
}

/* navigation bar section  */

nav {
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  font-size: 1em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right a {
  color: white;
  padding: 10px 10px;
  margin: 0px 5px;
  font-size: clamp(0.8em, 2vw, 1.5em);
}

@media (max-width: 576px) {
  .nav-right {
    flex-direction: column;
  }
  .nav-right a {
    padding: 5px 5px;
  }
}

.nav-right a :hover {
  color: #666;
}

.nav-left :hover {
  background-color: #555;
  cursor: pointer;
}

.register-login-btn {
  border: 1px solid white;
  padding: 4px 5px;
  margin: 4px 5px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-login-btn i {
  margin: 7px;
  color: white;
  font-size: clamp(0.8em, 2vw, 1.5em);
}

.register-login-btn a {
  color: white;
  margin: 0px 10px;
  font-size: clamp(0.5em, 2vw, 0.9em);
  font-weight: bold;
}

@media (max-width: 576px) {
  .register-login-btn a {
    display: none;
  }
  .register-login-btn i {
    font-size: 0.8em;
  }
}

/* slider section  */

.slider {
  position: relative;
  font-size: 1em;
}

.slides .item {
  position: relative;
  display: none;
}

.slides .item img {
  width: 100%;
}

.slides .item span {
  position: absolute;
  color: white;
  right: 20%;
  top: 40%;
  font-size: clamp(0.5em, 2vw, 1.5em);
}

.slides .active {
  display: block;
  animation-name: fadeIn;
  animation-duration: 1s;
}
.slider .buttons {
  position: absolute;
  bottom: 30px;
  left: 47%;
  z-index: 1;
  font-size: clamp(0.5em, 2vw, 1em);
}

.slider .buttons i {
  color: white;
  margin-right: 8px;
  cursor: pointer;
}

.slider .buttons i:hover {
  color: rgba(255, 255, 255, 0.4);
}

/* products section  */

.products {
  padding: 20px 10px;
  font-size: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.shopping-card {
  text-align: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 15px 30px;
  border-radius: 15px;
  padding: 20px;
}

.shopping-card:hover {
  margin: 10px 25px;
  cursor: pointer;
}

.img-sec {
  position: relative;
}

.img-sec img {
  width: 60%;
}

.img-sec .hot-offer {
  background-color: #e74c3c;
  color: white;
  padding: 3px 5px;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 0.9em;
}

.img-sec .stars {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #f1c40f;
}

.shopping-card .title {
  color: #333;
  margin: 15px;
}

.shopping-card .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}

.shopping-card .buttons .right .price {
  color: #666;
  font-weight: bold;
}

.shopping-card .buttons .left {
  display: flex;
}

.expand-btns {
  display: flex;
  margin-left: 5px;
  align-items: center;
  justify-content: space-between;
  background-color: #2ecc71;
  color: white;
  width: 40px;
  padding: 5px 12px;
  border-radius: 20px;
  transition: 0.5s;
}

.expand-btns:hover {
  width: 100px;
}

.expand-btns:hover .b-text {
  display: block;
}

.expand-btns .b-text {
  display: none;
  color: white;
}

.expand-btns .b-icon {
  color: white;
  padding-top: 5px;
}

/* super offer section  */

.super-offer {
  padding: 10px 30px;
  font-size: 1em;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

@media (max-width: 960px) {
  .super-offer {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.super-offer-box {
  text-align: center;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  margin: 0px 10px;
}

.super-offer-box-title {
  background-color: #e74c3c;
  color: white;
  padding: 8px 30px;
  display: inline-block;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.box-body .image-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
  padding: 30px;
}

@media (max-width: 768px) {
  .box-body .image-container {
    display: flex;
    flex-direction: column;
  }
}

.image-container img {
  width: 100%;
}

.spesification {
  padding: 30px 5px;
}

.spesification .price-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-row .price {
  margin-left: 60px;
  color: #444;
  font-size: 1.2em;
}

.price-row .off {
  color: white;
  background-color: #e74c3c;
  padding: 5px 20px;
  border-radius: 25px;
}

.spesification .title {
  margin: 40px 0px;
  font-weight: bold;
  color: #444;
  font-size: 1.4em;
  cursor: pointer;
}

.counter-down {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  margin: 10px 40px;
  padding-top: 40px;
  font-weight: bold;
  color: #666;
  font-size: 1.5em;
}

.remaining-time {
  color: #777;
  font-size: 0.8em;
}

.banner {
  text-align: left;
  padding: 0px 5px;
}

.banner img {
  border-radius: 10px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.6);
  width: 80%;
  height: 100%;
}

/* carousel section */

.carousel-list img {
  width: 60% !important ;
  margin: auto;
}

.owl-carousel .item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
}

.owl-stage-outer {
  direction: ltr;
}

.carousel-list .title {
  padding: 20px 20px;
  padding-bottom: 5px;
}

.carousel-list .title span {
  font-size: 1.2em;
  font-weight: bold;
  color: #444;
  border-bottom: 2px solid #e74c3c;
}
